.blackPoint {
	background: none repeat scroll 0 0 #444;
	border: 1px solid #000000;
	border-radius: 20px 20px 20px 20px;
	height: 7px;
	width: 7px;
	position: absolute;
}

.agingFace {
	background: #e0e3e5;
	float: left;
	padding: 15px 10px 10px 10px;
	margin-bottom: 30px;
	border-left: 5px white solid;
	color: gray;
}

.agingFace img {
	margin-bottom: 4px;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}
